<div style="padding-top: 100px; padding-left: 280px;">
    <form class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)] = "email" name='email'>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-5">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)] = "password" name="password">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button class="btn btn-success" (click) = "login()">LOGIN</button>
              <button class="btn btn-primary" (click)="goToSignup()">SIGN UP</button>
            </div>
          </div>
        </fieldset>
      </form>
</div>
