<div class="row">
  <div class="col-md-12">
      <form class="form-horizontal">
          <fieldset>
            <legend>Enter Weekly Details</legend>
            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Week Number</label>
                <div class="col-lg-5">
                  <select class="form-control" id="select" name="weekNumber" [(ngModel)] = "weekNumber">
                    <option>Week 1</option>
                    <option>Week 2</option>
                    <option>Week 3</option>
                    <option>Week 4</option>
                    <option>Week 5</option>
                    <option>Week 6</option>
                    <option>Week 7</option>
                    <option>Week 8</option>
                    <option>Week 9</option>
                    <option>Week 10</option>
                    <option>Week 11</option>
                    <option>Week 12</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Exercise</label>
                <div class="col-lg-5">
                  <select class="form-control" id="select" name="exercise" [(ngModel)] = "exercise">
                    <option>YES</option>
                    <option>NO</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
              <label for="inputBFP" class="col-lg-2 control-label">Body Fat Percentage</label>
              <div class="col-lg-5">
                <input type="number" class="form-control" id="inputBFP" name="bodyFatPercentage" [(ngModel)] = "bodyFatPercentage">
              </div>
            </div>
            <div class="form-group">
                <label for="inputWC" class="col-lg-2 control-label">Waist Circumference</label>
                <div class="col-lg-5">
                  <input type="number" class="form-control" id="inputWC" name="waistCircumference" [(ngModel)] = "waistCircumference">
                </div>
            </div>
            <div class="form-group">
                  <label for="inputWeight" class="col-lg-2 control-label">Weight</label>
                  <div class="col-lg-5">
                    <input type="number" class="form-control" id="inputWeight" name="height" [(ngModel)] = "weight">
                  </div>
            </div>
            <div class="form-group">
                <label for="inputBMR" class="col-lg-2 control-label">Basal Metabolic Rate </label>
                <div class="col-lg-5">
                  <input type="number" class="form-control" id="inputBMR" name="basalMetabolicRate" [(ngModel)] = "basalMetabolicRate">
                </div>
            </div>
            <div class="form-group">
              <label for="inputBMR" class="col-lg-2 control-label">Upload Image</label>
              <input id="my-file-selector" type="file" (change)="detectFiles($event)">
            </div>  
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button class="btn btn-success" (click) = "saveUserPersonalData()">SAVE</button>
                  <button class="btn btn-primary">CANCEL</button>
                </div>
            </div>
          </fieldset>
        </form>
  </div>
</div>